.monitor-hall .account-manage .table-top {
    line-height: 32px;
    margin: 20px 0 10px !important;
}

.his-review .account-manage .table-top,
.live-config .account-manage .table-top,
.risk-statistics .account-manage .table-top {
    line-height: 32px;
    margin-bottom: 20px !important;
}

button.el-button.com-btn.ml0 {
    margin-left: 0 !important;
}